/* ==========================================================================
    Base
    ========================================================================== */

body {
    font-family: Avenir, 'Noto Serif JP', sans-serif;
    color: #222;
    line-height: 2;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    color: #222;
    text-decoration: none;
    font-size: 16px;
}
