/* ==========================================================================
    ヘッダー
    ========================================================================== */
/* PC */
@media (min-width: 960px) {

}

.l-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
}

.l-header__logo {
    height: 100%;
    width: 160px;
    margin-left: 20px;
}

.l-header__menu ul {
    display: flex;
    height: 100%;
    padding-right: 20px;
}

.l-header__menu li {
    padding: 0 10px;
    line-height: 80px;
}

.l-header__menu li a:hover {
    opacity: 0.6;
    transition: all 0.3s;
}


/* ==========================================================================
    メインビジュアル
    ========================================================================== */
.p-mainVisual img {
    vertical-align: bottom;
    margin-top: 50px;
}

/* ==========================================================================
    コンセプト
    ========================================================================== */
.p-concept {
}

/* ==========================================================================
    ルーム
    ========================================================================== */
.p-room {
}

/* ==========================================================================
    ニュース
    ========================================================================== */
.p-news {
}

/* ==========================================================================
    アクセス
    ========================================================================== */
.p-access {
}

/* ==========================================================================
    フッター
    ========================================================================== */
.l-footer {
}
