/* ==========================================================================
    ヘッダー
    ========================================================================== */
/* PC */
@media (min-width: 960px) {

}

.l-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
}

.l-header__logo {
    height: 100%;
    width: 160px;
    margin-left: 20px;
}

.l-header__menu ul {
    display: flex;
    height: 100%;
    padding-right: 20px;
}

.l-header__menu li {
    padding: 0 10px;
    line-height: 80px;
}

.l-header__menu li a:hover {
    opacity: 0.6;
    transition: all 0.3s;
}


/* ==========================================================================
    メインビジュアル
    ========================================================================== */
.p-mainVisual img {
    vertical-align: bottom;
    margin-top: 50px;
}

/* ==========================================================================
    コンセプト
    ========================================================================== */
.p-concept {
}

/* ==========================================================================
    ルーム
    ========================================================================== */

/* PC用 */

    .p-room {
        max-width: 75rem;
        margin: 0 auto;
      }
      
      .p-room .p-room-title {
        text-align: center;
      }
      
      .p-room .p-room-line {
        max-width: 2.5rem;
        border: 1px solid #005988;
        margin: 0 auto;
      }
      
      .p-room .p-room-contents {
        margin: 0 auto;
      }
      
      .p-room .p-room-contents .p-room-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 5rem 0;
      }
      
      .p-room .p-room-contents .p-room-flex .p-room-explanation {
        margin: 0 auto;
        padding: 0 5rem 0 0;
        width: 100%;
      }
      
      .p-room .p-room-contents .p-room-flex .p-room-explanation .p-room-name {
        margin: 1rem 0;
      }
      
      .p-room .p-room-contents .p-room-flex .p-room-explanation p {
        overflow-wrap: break-word;
        margin-bottom: 1.5rem;
      }
      
      .p-room .p-room-contents .p-room-flex .p-room-explanation .more-button {
        border: 1px solid #005988;
        padding: .5rem 5rem;
        text-align: center;
        position: relative;
      }
      
      .p-room .p-room-contents .p-room-flex .p-room-explanation .more-button::before {
        content: "";
        width: 30%;
        display: block;
        border: .1px solid #005988;
        position: absolute;
        top: 50%;
        right: -10%;
      }
      
      .p-room .p-room-contents .p-room-flex .item-1 {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        padding: 0 0 0 5rem;
      }
      
      .p-room .p-room-contents .p-room-flex .p-room-image {
        margin: 0 auto;
      }
      
      .p-room .p-room-contents .p-room-flex .p-room-image img {
        -o-object-fit: cover;
           object-fit: cover;
      }
      
      .p-room .p-room-contents .p-room-flex .item-2 {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
      }
      /*# sourceMappingURL=stylesheet.css.map */
      

/* SP用 */

    @media screen and (max-width: 559px) {
        .p-room {
            width: 35rem;
            max-width: 90%;
            margin: 2rem auto 0;
        }

        .p-room .p-room-contents .p-room-flex {
            display: block;
            width: 100%;
        }

        .p-room .p-room-contents .p-room-flex .p-room-explanation {
            padding: 0;
        }

        .p-room .p-room-contents .p-room-flex .p-room-explanation p {
            line-height: 2.6;
        }

        .more-button {
            width: 80%;
            margin: 3rem auto;
            display: block;
            padding: .5rem 5rem;
        }

        .p-room-image {
            margin: 0;
        }

    }


/* tab用 */

    @media screen and (max-width: 959px) {
        .p-room {
            width: 60rem;
            max-width: 98%;
            margin: 2rem auto 0;
        }

        .p-room-explanation {
            max-width: 90%;
        }

        .p-room-image img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

    }

/* ==========================================================================
    ニュース
    ========================================================================== */
.p-news{
}

@media screen and (min-width: 960px) {
    .p-news {
        margin: 0 auto;
        margin-top: 50px;
    }

    .p-news h2 {
        text-align: center;
    }
    
    .p-news__titleLine {
        margin: 0 auto;
        margin-bottom: 60px;
        width: 50px;
        height: 2px;
        background-color: #000088;
    }

    .p-news ul {
        list-style: none;
    }

    .p-news__topic {
        display: flex;
        justify-content: space-between 2px;
        border-bottom: #000088 1px solid;
        width: 760px;
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
    }

    .p-news__date {
        margin-left: 20px;
        margin-right: 20px;
    }

    .p-news__information {
        color: #000088;
        margin-right: 20px;
    }
}

/* ==========================================================================
    アクセス
    ========================================================================== */
.p-access {
}

@media screen and (min-width: 960px) {
    .p-access {
        margin-top: 80px;
        width: 100%;
    }

    .p-access h2 {
        text-align: center;
    }

    .p-access__titleLine {
        margin: 0 auto;
        margin-bottom: 60px;
        width: 50px;
        height: 2px;
        background-color: #000088;
    }

    .p-access__information {
        width: 940px;
        display: flex;
        margin: 0 auto;
    }

    .p-access__googleMap {
        width: 615px;
    }

    .p-access__information ul {
        list-style: none;
        margin-top: 30px;
        margin-left: 50px;
    }

    .p-access__timeRequired {
        width: 250px;
        margin-bottom: 20px;
    }

    .p-access__destination {
        font-weight: 700;
        letter-spacing: 2px;
    }
}

/* ==========================================================================
    フッター
    ========================================================================== */
.l-footer {
}
