<footer class="l-footer">
    <div class="l-footer__inner l-content-wrap-default">
        <div class="l-footer__container">
            <div class="l-footer__item">
                <ul>
                    <li class="l-footer__logo">
                        <img src="/asset/image/logo_footer.svg" alt="" />
                    </li>
                    <li>〒530-0001<br />大阪市北区梅田3丁目1番1号</li>
                    <li>TEL.06-1234-5678(代)</li>
                </ul>
            </div>
            <div class="l-footer__item">
                <ul class="l-footer__nav">
                    <li class="l-footer__nav__item"><a class="l-footer__nav__link" href="#">home</a></li>
                    <li class="l-footer__nav__item"><a class="l-footer__nav__link" href="#">concept</a></li>
                    <li class="l-footer__nav__item"><a class="l-footer__nav__link" href="#">room</a></li>
                    <li class="l-footer__nav__item"><a class="l-footer__nav__link" href="#">news</a></li>
                    <li class="l-footer__nav__item"><a class="l-footer__nav__link" href="#">access</a></li>
                </ul>
            </div>
        </div>
        <small class="l-footer__copyright"><a href="/">©2020 Tenkue Hotel</a></small>
    </div>
</footer>
<script src="/asset/js/bundle.js"></script>
