.p-access {
    padding-top: 50px;
    padding-bottom: 100px;

    @include tab-layout() {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include sp-layout() {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__container {
        display: flex;
        align-items: center;

        @include sp-layout() {
            flex-direction: column;
        }
    }

    &__item {
        &:nth-of-type(1) {
            width: 60%;

            @include sp-layout() {
                width: 100%;
                margin-bottom: 2rem;
            }

            iframe {
                width: 100%;
            }
        }

        &:nth-of-type(2) {
            width: 35%;
            margin-left: 5%;

            @include sp-layout() {
                width: 100%;
                margin-left: 0;
            }
        }

        dl {
            margin-bottom: 1rem;
        }

        dt {
            font-weight: bold;
            letter-spacing: 0.1em;
            @include font-size(18);
        }

        dd {
        }
    }
}
