.c-title {
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    @include font-size(24);

    @include tab-layout() {
        margin-bottom: 50px;
    }
    @include sp-layout() {
        margin-bottom: 40px;
    }

    &:after {
        content: '';
        width: 40px;
        height: 2px;
        background-color: $color-primary;
        border-radius: 1px;
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
    }
}
