<article class="p-access">
    <div class="p-access__inner l-content-wrap-default">
        <h2 class="c-title">access</h2>
        <div class="p-access__container">
            <div class="p-access__item">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.136759144562!2d135.49418671537103!3d34.701730390670505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e68d76465acb%3A0x5e6e773bc220b48d!2z44Ob44OG44Or44Kw44Op44Oz44O044Kj44Ki5aSn6Ziq!5e0!3m2!1sja!2sjp!4v1591447646076!5m2!1sja!2sjp"
                    width="600"
                    height="300"
                    frameborder="0"
                    style="border:0;"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0"
                ></iframe>
            </div>
            <div class="p-access__item">
                <dl>
                    <dt>To Hotel</dt>
                    <dd>JR大阪駅より徒歩3分</dd>
                </dl>
                <dl>
                    <dt>To Kyoto</dt>
                    <dd>JR京都駅まで新快速で28分</dd>
                </dl>
                <dl>
                    <dt>To Kobe</dt>
                    <dd>JR三ノ宮まで新快速で21分</dd>
                </dl>
            </div>
        </div>
    </div>
</article>
