<article class="p-concept">
    <div class="p-concept__inner l-content-wrap-default">
        <h2 class="c-title">concept</h2>
        <div class="p-concept__imageWrap">
            <img src="/asset/image/icon_01.png" alt="" class="p-concept__image" />
            <img src="/asset/image/icon_02.png" alt="" class="p-concept__image" />
            <img src="/asset/image/icon_03.png" alt="" class="p-concept__image" />
        </div>
        <p class="p-concept__text">
            日本の文化に触れて頂き、日本をより好きになって頂き、お客様・従業員全てが笑顔になれるおもてなしを実現致します。
        </p>
        <p class="p-concept__text">
            各種交通機関からのアクセスも良く、外国人観光客だけでなく、国内の家族旅行者など、<br />
            多くのお客様の観光拠点と旅行者をつなぐ場所として、快適で贅沢な空間を提供致します。
        </p>
        <p class="p-concept__text">
            宿泊期間やご人数に関わらずご利用頂け、タイトなスケジュールになりがちなご予定を出来る限りサポートできるよう、<br />
            チェックインやチェックアウトのお時間もご相談ください。
        </p>
        <p class="p-concept__text">
            さらに、長期滞在でもお楽しみ頂けるよう、様々なアクティビティーの実施も予定しております。
        </p>
    </div>
</article>
