<article class="p-news">
    <div class="p-news__inner l-content-wrap-default">
        <h2 class="c-title">news</h2>
        <div class="p-news__container">
            <div class="p-news__item">
                <time>2020.06.06</time>
                <p class="p-news__category">information</p>
            </div>
            <div class="p-news__item">
                <p class="p-news__text">【いよいよ明日オープン】オープン記念特典＆セットにつきまして</p>
            </div>
        </div>
        <div class="p-news__container">
            <div class="p-news__item">
                <time>2020.06.06</time>
                <p class="p-news__category">information</p>
            </div>
            <div class="">
                <p class="p-news__text">新型コロナウイルス感染症への対応（営業内容変更等）について</p>
            </div>
        </div>
        <div class="p-news__container">
            <div class="p-news__item">
                <time>2020.06.06</time>
                <p class="p-news__category">information</p>
            </div>
            <div class="p-news__item">
                <p class="p-news__text">
                    ホームページを開設しました。
                </p>
            </div>
        </div>
    </div>
</article>
