<article class="p-room">
    <div class="p-room__inner l-content-wrap-default">
        <h2 class="c-title">room</h2>
        <div class="p-room__container">
            <div class="p-room__item">
                <p class="p-room__num">01</p>
                <h3 class="p-room__subtitle">スイートルーム</h3>
                <p class="p-room__text">
                    一流メーカーのベッドや、浴室音響システムや洗い場、レインシャワー（一部除く）をご用意したバスルームをなど、
                    機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。 専用カードキーによるフロアセキュリティシステムを導入。
                    安心してご滞在いただけます。
                </p>
                <a href="" class="p-room__link">more</a>
            </div>
            <div class="p-room__item">
                <img src="/asset/image/room_01.jpg" alt="" />
            </div>
        </div>
        <div class="p-room__container p-room__container-rev">
            <div class="p-room__item">
                <p class="p-room__num">02</p>
                <h3 class="p-room__subtitle">スタンダード・ツイン</h3>
                <p class="p-room__text">
                    一流メーカーのベッドや、浴室音響システムや洗い場、レインシャワー（一部除く）をご用意したバスルームをなど、
                    機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。 専用カードキーによるフロアセキュリティシステムを導入。
                    安心してご滞在いただけます。
                </p>
                <a href="" class="p-room__link">more</a>
            </div>
            <div class="p-room__item">
                <img src="/asset/image/room_02.jpg" alt="" />
            </div>
        </div>
        <div class="p-room__container">
            <div class="p-room__item">
                <p class="p-room__num">03</p>
                <h3 class="p-room__subtitle">スタンダード・シングル</h3>
                <p class="p-room__text">
                    一流メーカーのベッドや、浴室音響システムや洗い場、レインシャワー（一部除く）をご用意したバスルームをなど、
                    機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。 専用カードキーによるフロアセキュリティシステムを導入。
                    安心してご滞在いただけます。
                </p>
                <a href="" class="p-room__link">more</a>
            </div>
            <div class="p-room__item">
                <img src="/asset/image/room_03.jpg" alt="" />
            </div>
        </div>
    </div>
</article>
